body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

/* Portada */
h1 {
    text-align: center;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    font-size: 2.5rem;
}

.menu {
    margin-top: 50px;
}

.button {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
}

.purple {
    background-color: purple;
}

.green {
    background-color: green;
}

/* Formularios */
form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
}

form input {
    width: calc(100% - 20px);
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}
/* Resultados centrados */
.resultado {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center; /* Centrar el texto */
    font-size: 1rem;
    color: #333;
    max-width: 400px; /* Igual que el formulario */
    margin-left: auto; /* Centrado horizontal */
    margin-right: auto; /* Centrado horizontal */
}

/* Botón de regreso */
.btn-regresar {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    width: 200px;
    border: none;
}

.btn-regresar:hover {
    background-color: #0056b3;